/* Estilos personalizados */

/*Estilos en light mode*/


body html {
    font-family: "Figtree", ui-sans-serif, system-ui, sans-serif;
    line-height: 1.5;
  
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container{
    margin: 5em auto !important;
  }

/*Estilos en dark mode*/
body.dark-mode {
    background-color: #041440 !important;
    color: #e5e5e5 !important;
}



/* Barra de navegación */



/*Estilos Footer*/


.acotado p {
    color: #d3c3e4;
}

.text-center {
    text-align: center;
}

.text-sm {
    font-size: 0.875rem;
}

.text-xl {
    font-size: 1.25rem;
}

.font-semibold {
    font-weight: 600;
}

.text-black {
    color: black;
}

.text-white {
    color: white;
}

.bg-gradient-custom {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(255, 255, 255, 0.5)
    );
}

.rounded-custom {
    border-radius: 10px;
}

.shadow-custom {
    box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.08);
}

.p-6 {
    padding: 1.5rem;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.mt-6 {
    margin-top: 4rem;
}

.mt-5{
    margin-top: 3.5rem;
}

.pl-6{
    padding-left: 6rem; 
}
.w-full {
    width: 100%;
}

col-md-6{
    width: 40% !important;
    padding-right: 0 !important;
}

.banner2{
    display:inline-block ;
    justify-items: right;
    padding-right: 0 !important;
    width: 10em;
}

.img_icon{
    width: 30px;
    height: auto;
    display: flex;
    justify-content:last baseline;
    padding-right: 0 !important;
}

/* botón flotante whatsapp */
.whatsapp-button {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 9999;
    width: 45px;
    height: 45px;
    background-color: #25D366;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.whatsapp-button:hover {
    transform: scale(1.1);
}

.whatsapp-button i {
    color: white;
    font-size: 28px;
}


